BODY {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 90%;
 background: black;
 color: white;
}

.global {
	display: flex; 
}

.camList {
	padding: 10px;
}

.camList OL {
	margin: 0;
}

.camList UL {
	margin: 0;
	padding-left: 10px;
}

.camList LI {
	cursor: pointer;
}

.collapsible.collapsed * {
	/*background-color: red;*/
	display: none;
}

.archiveTimeBar {
	display: flex;
	flex-direction: row;
  	align-items: center;
}

.toolButton {
	margin: 2px;
	padding: 0px 2px 0px 2px;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #265980;
	cursor: pointer;
	font-size: 9pt;
}

.toolButtonLarge {
	font-size: 12pt;
}

.controlOff {
	background-color: #265980;
}
.controlOn {
	background-color: red;
}


.watchLast {
	padding: 10px;
	flex-grow: 3;
	display: flex; 
	flex-wrap: wrap;
}
.watchLast IMG {
	max-width:100%;
}

.watchDay {
	padding: 10px;
	flex-grow: 3;
}

.timeline {
	width: min-content;
	border: 1px solid gray;
}

.timeline CANVAS {
	margin: 1px 1px 0px 1px;
	cursor: crosshair;
}

.archivePhoto {
	display: flex; 
}

.archivePhoto IMG {
	max-width:100%;
}

.archivePhoto VIDEO {
	max-width:100%;
}
